body {
font-family: Helvetica;
font-size: xx-large;
color: white;
div {
display: flex;
justify-content: center;
align-items: center;
height: 900px;
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1)
50%,rgba(125,185,232,1) 100%);
 }
 }
